*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Silkscreen', cursive;
  background-color: rgb(32, 32, 32);
}
.header{
  background-color: #424242;
  .imghead{
    width: 100%;
  
  }
  .carritoybuscar{
    display:flex;
    padding: 5%;
    justify-content: space-between;
    ::placeholder{color:#424242};
    align-items: flex-end;
  
   input[value="buscar"]{

      width: 200%;
      height: 80%;
      background:rgb(255, 255, 255);
          
    }
    button[value="buscar"]{
      color: rgb(255, 255, 255);
      box-shadow: 2px 2px 2px 1px rgb(255, 255, 255);
      
    
    }

    #cesta-carrito {
      border: none;
      color: white;
      font-size: 30px;
      border-radius: 10%;
      padding: 10px 20px;
      transition: all .3s;
     }
     
     #cesta-carrito:hover {
      cursor: pointer;
      color: rgb(225, 76, 65);
      background: none;
      }
    
    
    
    #cesta-carrito:focus {
      outline: none;
      background: none;
    }
     
  }
}

.container-fluid{
  display: flex;
  z-index: 99;

  .navbar-brand{
    color: rgb(255, 255, 255);
    padding-left: 5%;
  }
  button{
    button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: none;
    }
  }
  .nav-link, .nav-link.active{
    color: rgb(255, 255, 255);
  }
  
}




.modal-carrito{
  h3{
    color:white;
    display: flex;
    justify-content: center;
    background: #424242;
    
  }
  p{
    color: white;
  }
  #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 76, 65);
    i:focus{
      outline: none;
      background: none;
    }
    
  }

}
#btn-compra{
  color: rgb(32, 32, 32);
  background: rgb(225, 76, 65);
  font-size: large;
  width: 8rem;
  i{
    background: rgb(225, 76, 65);
  }


}
#producto-contenedor {
  display: grid;
  gap: 1rem;
 
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #424242;
}

.productoEnCarrito {
  border-left: 5px solid rgb(231, 171, 171);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(225, 76, 65);
  
  button{
    background: rgb(225, 76, 65);
    .boton-eliminar:hover {
      cursor: pointer;
      
      
    }
    .boton-eliminar:focus {
      outline: none;
      
    }
    
  }

}


.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}



.card .card-image .card-title {
  color: #0d47a1;
  position: unset
}



.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}


.swal-modal{
  background: #424242;
  .swal-title{
    color: aliceblue;
  }
  .swal-text{
    color:aliceblue;
  }
}




.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px 0px;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(36, 35, 35, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: #424242;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}









