* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Silkscreen', cursive;
  background-color: #202020; }

.header {
  background-color: #424242; }
  .header .imghead {
    width: 100%; }
  .header .carritoybuscar {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: flex-end; }
    .header .carritoybuscar ::placeholder {
      color: #424242; }
    .header .carritoybuscar input[value="buscar"] {
      width: 200%;
      height: 80%;
      background: white; }
    .header .carritoybuscar button[value="buscar"] {
      color: white;
      box-shadow: 2px 2px 2px 1px white; }
    .header .carritoybuscar #cesta-carrito {
      border: none;
      color: white;
      font-size: 30px;
      border-radius: 10%;
      padding: 10px 20px;
      transition: all .3s; }
    .header .carritoybuscar #cesta-carrito:hover {
      cursor: pointer;
      color: #e14c41;
      background: none; }
    .header .carritoybuscar #cesta-carrito:focus {
      outline: none;
      background: none; }

.container-fluid {
  display: flex;
  z-index: 99; }
  .container-fluid .navbar-brand {
    color: white;
    padding-left: 5%; }
  .container-fluid button button:hover {
    cursor: pointer;
    color: white;
    background: none; }
  .container-fluid .nav-link, .container-fluid .nav-link.active {
    color: white; }

.modal-carrito h3 {
  color: white;
  display: flex;
  justify-content: center;
  background: #424242; }

.modal-carrito p {
  color: white; }

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #e14c41; }
  .modal-carrito #btn-cerrar-carrito i:focus {
    outline: none;
    background: none; }

#btn-compra {
  color: #202020;
  background: #e14c41;
  font-size: large;
  width: 8rem; }
  #btn-compra i {
    background: #e14c41; }

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #424242; }

.productoEnCarrito {
  border-left: 5px solid #e7abab;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: #e14c41; }
  .productoEnCarrito button {
    background: #e14c41; }
    .productoEnCarrito button .boton-eliminar:hover {
      cursor: pointer; }
    .productoEnCarrito button .boton-eliminar:focus {
      outline: none; }

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer; }

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none; }

.modal-carrito .producto-precio {
  padding-top: 10px; }

.card .card-image .card-title {
  color: #0d47a1;
  position: unset; }

.productoEnCarrito:hover {
  border-left: 5px solid #e14c41; }

.swal-modal {
  background: #424242; }
  .swal-modal .swal-title {
    color: aliceblue; }
  .swal-modal .swal-text {
    color: aliceblue; }

.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: white 0px 5px 15px 0px; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(36, 35, 35, 0.3); }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  position: relative;
  background-color: #424242;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: white 0px 5px 15px 0px; }

.modal-active .modal-carrito {
  margin-top: 0; }
